# Node modules
node_modules/

# Logs
logs/
*.log

# Dependency directories
.yarn/
.pnp/
.cache/

# Compiled files
*.out
*.class

# OS or editor-specific files
.DS_Store
.vscode/
.idea/

# Build directories
server/routes/static/build_baldwin_web_app_1/
server/routes/static/build_splice_log_page/
server/routes/static/splice_log_page/
server/routes/static/build_ios_project_page/
shared_components/node_modules/
shared_components/dist/

# Generated static files
server/routes/static/**/*.js
server/routes/static/**/*.css
server/routes/static/**/*.map

# Environment and config files
.env
